.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.container > textarea {
	height: 120px;
	width: 100%;
	outline: none;
	margin-top: 5px;
	padding: 8px 10px;
	border-radius: 12px;
	border: 1px solid var(--secondary);
	background-color: var(--on-secondary);
	resize: none;
}

.container > textarea:focus {
	border: 2px solid var(--border-light);
}

.container > textarea::placeholder {
	font-size: 15px;
	font-weight: 400;
}