@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..800&display=swap');
@import url(var.css);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}
  
html {
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
  	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: var(--background);
}

#root {
	height: 100%;
	width: 100vw;
}

.container {
	min-height: 100%;
	width: 100vw;
	min-width: var(--min-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section {
	width: 100vw;
	min-width: var(--min-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delimiter {
	height: 100%;
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}