:root {
	
	--primary: #046b5c;
 	--on-primary: #ffffff;

	--primary-container: #a0f2df;
	--on-primary-container: #005045;
	
	--secondary: #4a635d;
	--on-secondary: #ffffff;

	--secondary-container: #cde8e0;
	--on-secondary-container: #334b45; 
	
	--tertiary: #436278 ;
	--on-tertiary: #ffffff;

	--tertiary-container: #c9e6ff;
	--on-tertiary-container: #2b4a5f;

	--disabled: #676767;
	--on-disabled: #ffffff;

	--error: #ba1a1a;
	--on-error: #FBF8FF;

	--error-container: #ffdad6;
	--on-error-container: #93000a;
	
	--surface: #f5fbf7;
	--on-surface: #171d1b;

	--background: #FBF8FF;
	--on-background: #63607A ;

	--max-width: 1920px;
	--min-width: 360px;

	--border: #8e8c8c43;
	--detail: #afafaf;

	--shadow-low: rgba(0, 0, 0, 0.05);
	--overlay-backdrop: rgba(0, 0, 0, 0.25);
	--modal-overlay: rgba(0, 0, 0, 0.5);
	--shadow-medium: rgba(0, 0, 0, 0.12);
	--black-light: rgba(0, 0, 0, 0.2);

	--muted: #6b7280;
	--pill-background: #f1f1f4;
	--border-light: #e5e7eb;
	--surface-light: #f3f4f6;
	--text-secondary: #4b5563;
	--menu-button: #374151;
	--text-muted: #7d7d84;
	--text-soft-black: #1F2937;
}