.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.container > input {
	height: 45px;
	width: 100%;
	outline: none;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 12px;
	border: 1px solid var(--border-light);
	background-color: var(--on-secondary);
}

.container > input:focus {
	border: 2px solid var(--primary);
}

.container > input::placeholder {
	font-size: 15px;
	font-weight: 400;
}