.container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 12px;
    border-radius: 20px;
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    padding: 4px 8px;
    background-color: var(--tertiary);
    
}

.icon {
    width: 16px;
    height: 16px;
    color: var(--primary)
}

.text {
    font-weight: 600;
    color: var(--on-primary)
}
