.container {
    height: 45px;
    width: 100%;
    background-color: var(--on-primary);
    color: var(--primary);
    border: var(--primary) 1px solid;
    display: flex;
    justify-self: center;
    justify-content: space-evenly; 
    align-items: center;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.containerDisabled {
    height: 45px;
    width: 100%;
    background-color: var(--disabled);
    color: var(--on-disabled);
    display: flex;
    justify-self: center;
    justify-content: center; 
    align-items: center;
    border-radius: 12px;
    font-size: 18px;
    border: 0;
    cursor: not-allowed; 
} 