.container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
    width: 100%;
}

.newProductButton {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.newProductButton button {
    width: 150px; 
    border-radius: 0;
    font-size: 15px;
}
