.container {
    width: 90%;
    max-width: 500px;
    background-color: var(--background);
    border: 1px solid var(--on-background);
    padding: 60px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 8px 12px var(--modal-overlay);
}

.inputDelimiter {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center; 
    gap: 8px; 
    flex-direction: column;
    justify-content: flex-start;
}

.registerText {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.registerText > p, a {
    color: var(--primary);
}

.isotipo {
    height: 45px;
}


