.container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
    width: 100%;
}

.newClientButton {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
