.container {
    width: 100%;
    margin: 0 auto;

    padding: 32px 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.newAppointmentButton {
    width: 150px; 
    border-radius: 0;
    font-size: 15px;
}
