.layoutContainer {
    width: 100vw; 
    min-height: 100vh; 
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.brand {
    flex: 1;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand > img {
    width: 400px;
    height: auto;
}

.formContainer {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}