.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.brand {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
