
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center; 
    padding: 40px;
    text-align: center;
}

.container img {
    width: 150px;     
    height: 150px;     
    object-fit: contain;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    font-weight: 500;
}
